<h1>All movies</h1>
<!--<%= JSON.stringify(movies) %>-->

<table class="table table-striped">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Rating</th>
    <th scope="col">Release date</th>
    <th scope="col">Action</th>
  </tr>
  <% movies.forEach(function(movie) {%>
    <tr>
      <td> <a class="" href="/movies/<%= movie.id %>" role="button"> <%= movie.title %> </a> </td>
      <td><%= movie.rating %></td>
      <td><%= movie.release_date %></td>
      <td>
        <a class="btn btn-outline-primary" href="/movies/edit" role="button">Edit</a>
        <a class="btn btn-outline-danger" href="/movies/edit" role="button">Delete</a>
      </td>
    </tr>
  <%});%>
</table>


<a class="btn btn-outline-primary" href="/movies/new" role="button">Add a new movie</a>
