<h1>New movie</h1>
<form method="post" action="/movies">
  <div class="form-group">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 col-form-label">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <select class="custom-select" id="rating" name="rating">
        <option>G</option>
        <option>PG</option>
        <option>PG-13</option>
        <option>R</option>
    </select>
  </div>
  <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>
